@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  /* Primary Colors */
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);

  /* Neutral Colors */
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: var(--magnolia);
}

.container {
  height: 100%;
}

.steps {
  display: flex;
  justify-content: center;
  padding: 2.5rem 0;
  background-image: url(./assets/images/bg-sidebar-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 170px;
  gap: 1rem;
}

.step {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: .12rem solid var(--white);
  border-radius: 50%;
  color: var(--white);
  font-weight: 500;
}

.step.active {
  color: var(--marine-blue);
  background-color: var(--light-blue);
  border: none;
}

.personal, .select, .summary {
  position: relative;
  display: flex;
  flex-direction: column;
}

.personal-info, .select-plan, .select-add-ons, .summary-info {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: .7rem;
  margin: -4.4rem 1rem 0 1rem;
}

h2, h4, label {
  color: var(--marine-blue);
}

.personal-info p, .select-plan p, .select-add-ons p, .summary-info p {
  font-size: 16px;
  margin: .9rem 0;
  color: var(--cool-gray);
  line-height: 1.5em;
}

label {
  display: block;
  font-size: 13px;
}

input {
  width: 100%;
  margin-top: .2rem;
  margin-bottom: 1rem;
  padding: .8rem;
  font-family: inherit;
  border-radius: .3rem;
  border: 1px solid #ccc;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: var(--cool-gray);
  font-weight: 700;
  font-family: inherit;
}

.button {
  background-color: var(--white);
  width: 100%;
  padding: 1rem;
  margin-top: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}

.button.single {
  justify-content: flex-end;
}

.next {
  font-family: inherit;
  padding: .8rem;
  color: var(--white);
  background-color: var(--marine-blue);
  border: none;
  border-radius: .3rem;
  font-weight: 500;
  cursor: pointer;
}

.back {
  color: var(--cool-gray);
  font-weight: 500;
  cursor: pointer;
}

.plan {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: .5rem;
}

.plan.active {
  border: 1px solid var(--purplish-blue);
  background-color: var(--magnolia);
}

.plan h4, .add h4 {
  margin-bottom: .3rem;
}

.plan span, .add span {
  color: var(--cool-gray);
}

.select-plan i {
  color: var(--marine-blue);
  font-size: 1.6rem;
}

.select-plan .toggle {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--alabaster);
  justify-content: center;
  border-radius: .5rem;
}

.select-plan .toggle .active {
  color: var(--marine-blue);
  font-weight: 500;
}

.add {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: .5rem;
}

.add .add-ons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.add .checkbox {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  border-radius: .3rem;
  background-color: var(--purplish-blue);
  border: 1px solid #ccc;
  padding: .3rem;
}

.add.active {
  border: 1px solid var(--purplish-blue);
}

.add .checkbox img {
  width: 12px;
}

.addons-text span {
  font-size: 12px;
  font-weight: 500;
}

.add .price {
  color: var(--marine-blue)
}

.summary-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4rem 1.5rem;
}

.summary-info img {
  width: 60px;
  margin-bottom: 1.5rem;
}
